body {
    background-color: white;
}

.h1satauri {
    color: rgb(2, 40, 40);
    text-align: center;
    letter-spacing: 1em;
    font-size: large 1.5;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
    transition: color 0.3s ease;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

.main2 {
    text-align: center;
    margin-right: 40px;
    margin-top: 30px;
    font-size: large 1.5;
    text-shadow: 1px 1px 2px rgb(47, 46, 46);
    transition: color 0.3s ease;
}

.p2 {
    display: inline-block;
    padding: 20px;
    font-size: 1.2em;
    text-align: center;
    margin-left: 200px;
    margin-bottom: 90px;
    transform: scale(1.1);
}

.satauri2 {
    text-align: center;
    margin-right: 40px;
    margin-bottom: 5px;
    font-size: large 1.5;
    text-shadow: 1px 1px 2px rgb(47, 46, 46);
    transition: color 0.3s ease;
}

.p3 {
    display: inline-block;
    padding: 20px;
    font-size: 1.2em;
    text-align: center;
    margin-left: 120px;
    margin-bottom: 90px;
    transform: scale(1.1);
}

.contacts {
    text-align: center;
    margin-right: 40px;
    margin-bottom: 5px;
    font-size: large 1.5;
    text-shadow: 1px 1px 2px rgb(47, 46, 46);
    transition: color 0.3s ease;
}

.p5 {
    display: inline-block;
    padding: 20px;
    font-size: 1.2em;
    text-align: center;
    margin-left: 350px;
    margin-bottom: 90px;
    transform: scale(1.1);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    padding: 15px 50px;
    color: rgb(0, 0, 0);
    transition: all 0, 3s ease;
    animation: forwards;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ol li {
    display: inline-block;
    margin: 0 15px;
}

nav ol li a {
    color: white;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

.exit {
    color: aliceblue;
    text-decoration: underline;
}

.exit {
    display: inline-block;
    margin: -50 -50px;
}

.satauri4 {
    text-align: center;
    margin-right: 40px;
    margin-bottom: 5px;
    font-size: large 1.5;
    text-shadow: 1px 1px 2px rgb(47, 46, 46);
    transition: color 0.3s ease;
}

.lists {
    display: inline-block;
    padding: 20px;
    font-size: 1.2em;
    text-align: center;
    margin-left: 350px;
    margin-bottom: 90px;
    transform: scale(1.1);
    margin-right: 400px;
}

.q {
    margin-bottom: 10px;
}

.w {
    margin-bottom: 10px;
}

.e {
    margin-bottom: 10px;
}

.r {
    margin-bottom: 10px;
}